<h1>Order Details: </h1>

<h2>@Model["order"].OrderName</h2>
<h3>Vendor: @Model["vendor"].VendorName</h3>
<h2>Description: @Model["order"].Description</h2>
<h2>Price: @Model["order"].Price</h2>
<h2>Date of Order: @Model["order"].Date</h2>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another Order</a>
<br>
<div>
  <a href="javascript:history.go(-1)">Go back</a>
</div>
<a href='/vendors'>View all Vendors</a>